<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>留言板</title>
</head>
<body>
    <div>
        {%for user in users%}
        <form method="post" action="{{ path('app_edit') }}">
        {{user.id}}樓<br>
        {{user.content}}<br>
        by. {{user.name}}<br>
        {{user.date.format("Y-m-d H:i:s")}}<br>
        <input type='text' name='id' value='{{user.id}}' style='display:none'/>
        <input type='submit' name='btnUp' value='修改留言'>
        <input type='submit' name='btnD' value='刪除留言'><hr>
        </form>
        {%endfor%}
    </div>
    <form method="post" action="{{ path('app_create') }}">
        留言:<input type="text" name="con"/><br>
        ID:<input type="text" name="name"/><hr>
        <input type="submit" name="btnC" value="送出">
    </form>
</body>
</html>