<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>編輯留言</title>
</head>
<body>
    <div>
        {{user.id}}樓<br>
        原始留言：<br>
        {{user.content}}<hr>
        <form method="post" action="{{ path('app_update') }}">
            <input type="hidden" name="_method" value="PUT">
            <input type='text' name='upCon'/>
            <input type='text' name='upId' value="{{user.id}}" style='display:none'/>
            <input type='submit' name='btnUpdate' value='確定修改'/>
            <input type='submit' name='btnCancel' value='取消修改'/>
        </form>

        <form method="post" action="{{ path('app_delete') }}">
            <input type="hidden" name="_method" value="DELETE">
            <input type='text' name='id' value="{{user.id}}" style='display:none'/>
            <input type='submit' name='btnD' value='刪除留言'/>
        </form>
    </div>
</body>
</html>