<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>存提款</title>
</head>
<body>
    <div>
        <form method="post" action="{{ path('doCash') }}">
        輸入{{value}}金額（僅接受小數點後四位：
            <input type="text" name="cash"/><br>
            <input type='text' name='id' value='{{id}}' style='display:none'/>
            <input type="submit" id="btn" name="{{btn}}" value="確認"/><hr>
        </form>
        <span id="result"></span>
    </div>
        <a href="{{ path('show') }}"><input type="button" value="退出"/></a>
</body>
</html>