<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script language = "javascript" src = "https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <title>存提款</title>
</head>
<body>
    <div class="info">
        輸入{{value}}金額（僅接受小數點後四位：
            <input type="text" id="cash" name="cash"/><br>
            <input type='text' name='id' value='{{id}}' style='display:none'/>
            <input type="submit" id="btn" name="{{btn}}" value="確認"/><hr>
        <span id="result"></span>
    </div>
        <a href="{{ path('show') }}"><input type="button" value="退出"/></a>

    <script  language = "javascript">
        $(document).ready(function(){
            $("#btn").on('click', function(){
                $.ajax({
                    url: '{{ (path('doCash')) }}',
                    type: "POST",
                    dataType: "json",
                    data: {
                        'id': {{ id }},
                        'cash': $("#cash").val(),
                        '{{ btn }}': true,
                    },
                    async: true,

                    success: function (data)
                    {
                        $('.info').html('');
                        $('.info').append(JSON.stringify(data));
                        $('.info').append('<hr>');
                    },
                    error : function()
                    {
                        alert("餘額不足或格式錯誤，請重新操作");
                    }
                });

            });
        });
    </script>
</body>
</html>