<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script language = "javascript" src = "https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <title>查詢</title>
    <style>
      .table { border-collapse: collapse; }
      .table th, td {
         border-bottom: 1px solid #ddd;
         width: 900px;
         height: 25px;
         text-align: left;
         align: left;
      }
   </style>
</head>
<body>
    <div>
        <form method="post" action="{{ path('choose') }}">
        <input type="hidden" name="_method" value="PUT">
            以日期查詢:<br>
            <input type="date" name="searchDate"/><br>
            <input type='text' name='id' value='{{id}}' style='display:none'/>
            <input type="submit" name="isSearch" value="確認"/><hr>
        </form>
        <a href="{{ path('show') }}"><input type="button" value="退出"/></a>
    </div><hr>

    <div id="ajax-results"></div>
        <table>
        <script language = "javascript">
            $(document).ready(function(){
                if ("{{ page }}" == "") {
                    var page = 1;
                } else {
                    var page = "{{ page }}";
                }

                var date = $(this).val();
                $.ajax({
                    url: '{{ (path('search')) }}',
                    type: "GET",
                    dataType: "json",
                    data: {
                        "id": {{id}},
                        "page" : page,
                        "searchDate": "{{date}}",
                    },
                    async: true,

                    success: function (data)
                    {
                        $('#ajax-results').html('');

                        for (i = 0; i < data.length; i++) {
                            transaction = data[i];
                            var e = $('<tr><td id = "result"></td></tr>');
                           $('#result', e).html(JSON.stringify(transaction));
                           $('#ajax-results').append(e);
                        }
                        if ({{ pages }} > 0) {
                            $('.pagination').html('');
                            $('.pagination').append('<button class = "page" value = 1>首頁</button>');
                            for (i = 1 ; i <= {{ pages }} ; i++) {
                                if (page -3 < i && i < page +3) {
                                    $('.pagination').append('<button class = "page" value = '+i+'>'+i+'</button>');
                                }
                            }
                            $('.pagination').append('<button class = "page" value = {{ pages }}>末頁</button>');
                        }
                    },
                    error : function()
                    {
                      alert('Ajax request failed.');
                    }
                });

                $(document).on('click', ".page", function(){
                    page = $(this).val();
                    $.ajax({
                        url:'{{ (path('search')) }}',
                        type: "GET",
                        dataType: "json",
                        data: {
                            "id": {{id}},
                            "page" : page,
                            "searchDate": "{{date}}",
                        },
                        async: true,

                        success: function (data)
                        {
                            $('#ajax-results').html('');

                            for (i = 0; i < data.length; i++) {
                                transaction = data[i];
                                var e = $('<tr><td id = "result"></td></tr>');
                                $('#result', e).html(JSON.stringify(transaction));
                                $('#ajax-results').append(e);
                            }
                            if ({{ pages }} > 0) {
                                $('.pagination').html('');
                                $('.pagination').append('<button class = "page" value = 1>首頁</button>');
                                for (i = 1 ; i <= {{ pages }} ; i++) {
                                    if (page -3 < i && i < parseInt(page)+3) {
                                        $('.pagination').append('<button class = "page" value = '+i+'>'+i+'</button>');
                                    }
                                }
                                $('.pagination').append('<button class = "page" value = {{ pages }}>末頁</button>');
                            }
                        },
                        error : function()
                        {
                          alert('Ajax request failed.');
                        }
                    });
                });
            });
        </script>
        </table>
        <div class="pagination"></div>
</body>
</html>